* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body {
    background: #000;
    display: flex;
    justify-content: center;
    height: 100dvh;
    overflow: scroll;
  }
  .wrapper {
    background: white;
    width: 400px;
    max-width: 414px;
  }
  .container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    flex-shrink: 0;
    margin-top: -40px;
    padding: 2rem 0rem 2.7rem 2.3rem;
    width: 100%;
    color: black;
    background: white;
  }



  .profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
  top: 0px;
    width: 95%;
    gap: 8px;
  }
  
  .profile p {
    font-weight: bold;
  }
  
  .profile-icon {
    padding: 8px;
    border-radius: 50px;
  }
  .arrow-back {
    flex-shrink: 0;
    height: 3.2rem;
    margin-right: 5.5rem;
    object-fit: contain;
    vertical-align: top;
    width: 3.2rem;
  }
  .header-text {
    display: flex;
    justify-content: center;
    flex-shrink: 0;
  }
  .getting_started {
    /* margin-top: 20px; */
    border-radius: 10px;
    display: flex;
    margin: auto;
    justify-content: center;
    align-self: center;
    width: 300px;
  
    background: #fff8e1;
  }
  
  .getting_started > article {
    padding: 10px;
  }
  
  .getting_started #text-one {
    color: var(--greys-tertiary, #4b6358);
    font-family: "Cerebri Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    width: 260px;
  }
  
  .getting_started-item,
  .getting_started-item-two {
    gap: 10px;
    padding: 10px;
  }
  
  .first-item {
    display: flex;
    justify-content: space-between;
  }
  
  .second-item {
    display: flex;
    justify-content: space-between;
  }
  
  .getting_started-item a {
    color: #03a84e;
  }
  
  .review {
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    margin: 0rem 3rem 3.5rem 0rem;
  }
  .review > h2 {
    flex-shrink: 0;
    color: #0f231a;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 0.6rem;
    font-size: 1.8rem;
  }
  .review > p {
    color: #4a6258;
    flex-shrink: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
  }
  
  .plan {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-shrink: 0;
    margin: 0rem 2.3rem 2.4rem 0rem;
  }
  .plan__content {
    display: flex;
    width: 100%;
    flex-shrink: 0;
    margin-bottom: 1.6rem;
    align-items: center;
  }
  .plan__content:first-child > p {
    margin-right: 2rem;
    flex-shrink: 0;
    color: #000;
    font-weight: 400;
  }
  .plan__content:last-child > p {
    flex-shrink: 0;
    color: #03a84e;
    font-weight: 400;
    text-align: right;
  }
  .plan__line {
    background-color: #e1e9e5;
    height: 0.2rem;
    width: 100%;
  }
  .box {
    flex-shrink: 0;
    box-sizing: border-box;
    border-radius: 1rem;
    margin: 0rem 2.3rem 2.4rem 0rem;
    padding: 2rem 2.156rem 2rem 1.6rem;
  }
  .box-item {
    display: flex;
    align-items: center;
    height: 2rem;
    margin-bottom: 0.6rem;
    /* background-color: yellow; */
  }
  .box-item-price {
    color: #4a6258;
    font-size: 1rem;
    font-weight: 400;
    text-align: left;
  }
  .box-item-1 {
    display: flex;
    align-items: center;
    height: 100%;
    margin-right: 4rem;
  }
  .box-item-1 img {
    height: 2rem;
    flex-shrink: 0;
    object-fit: contain;
    width: 2rem;
    margin-right: 0.3rem;
  }
  .box-item-1 p {
    color: #0f231a;
    flex-shrink: 0;
    font-weight: 400;
  }
  .box-item-2 {
    align-items: center;
    display: flex;
    flex-shrink: 0;
    height: calc(100% - 0.4rem);
    margin: 0.1rem 0rem 0.3rem 0rem;
  }
  .box-item-2 p {
    color: #4a6258;
    flex-shrink: 0;
    text-align: right;
    margin-right: 0.2rem;
  }
  .food-box {
    background-color: #e9fbf2;
  }
  .laundry-box {
    background-color: #e5e9fc;
  }
  .beauty-box {
    background-color: #fbe7f1;
  }
  .cleaning-box {
    background-color: #fff3df;
  }
  
  .box__line {
    background-color: #e1e9e5;
    height: 0.2rem;
    width: 90%;
    margin: 0rem 2.3rem 2.4rem 0rem;
  }
 
.schedule {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .schedule > button {
    padding: 10px 20px;
    border-radius: 20px;
    outline: none;
    box-shadow: none;
    border: 2px solid rgb(152, 89, 13);
    color: rgb(152, 89, 13);
  }
  
  .discount {
    display: grid;
    grid-template-columns: 250px 120px;
  }
  
  .discount__discription {
    background: rgb(188, 240, 188);
    color: black;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  
  .discount__discription-item {
    padding-left: 20px;
  }
  
  .discount__price-item > span {
    text-decoration: line-through;
  }
  
  .discount__price {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: white;
    background: green;
  }
  
  .discount__price-item {
    padding-left: 20px;
  }
  
  .check {
    display: grid;
    grid-template-columns: 250px 120px;
  }
  
  .check__left {
    background: rgb(242, 220, 170);
    color: black;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  
  .check__left-item {
    padding-left: 20px;
  }
  
  .check__right {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: white;
    background: rgb(241, 172, 9);
  }
  
  .check__right-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
  }
  
  .getting_started {
    /* margin-top: 20px; */
    border-radius: 10px;
    width: 350px;
  
    background: #fff8e1;
  }
  
  .getting_started > article {
    padding: 10px;
  }
  
  .getting_started #text-one {
    color: var(--greys-tertiary, #4b6358);
    font-family: "Cerebri Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    width: 260px;
  }
  
  .getting_started-item,
  .getting_started-item-two {
    gap: 10px;
    padding: 10px;
  }
  
  .first-item {
    display: flex;
    justify-content: space-between;
  }
  
  .second-item {
    display: flex;
    justify-content: space-between;
  }
  
  .getting_started-item a {
    color: #03a84e;
  }
  
  .btn-link {
    width: 279px;
    top: 604px;
    left: 48px;
    padding: 12px 16px 12px 16px;
    border-radius: 32px;
    gap: 8px;
    background: #03a84e;
    color: #fff;
    text-decoration: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto auto 15px;
  }
  /* .btn-link {
    color: #fff;
    text-decoration: none;
  } */
  .my__flex {
    margin-top: 15px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
  }
  footer{
    gap: 1rem;
    justify-content: center;
}
.footer__item{
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}
.footer__item img{
    height: 1.5rem;
    width: 1.5rem;

}
  .dark-line {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    width: 150px;
    height: 5px;
    border-radius: 10px;
    margin: auto auto 20px;}