@import url("https://db.onlinewebfonts.com/c/bb018e64d01355748d8ddc53553850b9?family=Cerebri+Sans+Regular");

html {
  background: #000;
}

body {
  color: white;

  /* height: 100vh; */
  box-sizing: border-box;
  /* overflow: hidden; */
  padding: 0;
  margin: 0;
}

.main {
  background: white;
  color: black;
  width: 100vw;
  max-width: 25rem;
  margin: 0 auto;
}

.container {
  /* margin: 0.5rem; */
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
}

.box {
  width: 95%;
}

.profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;

  width: 95%;
  gap: 8px;
}

.profile p {
  font-weight: bold;
}

.profile-icon {
  padding: 8px;
  border-radius: 50px;
}

.schedule {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.schedule > button {
  padding: 10px 20px;
  border-radius: 20px;
  outline: none;
  box-shadow: none;
  border: 2px solid rgb(152, 89, 13);
  color: rgb(152, 89, 13);
}

.discount {
  display: grid;
  grid-template-columns: 250px 120px;
}

.discount__discription {
  background: rgb(188, 240, 188);
  color: black;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.discount__discription-item {
  padding-left: 20px;
}

.discount__price-item > span {
  text-decoration: line-through;
}

.discount__price {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  color: white;
  background: green;
}

.discount__price-item {
  padding-left: 20px;
}

.check {
  display: grid;
  grid-template-columns: 250px 120px;
}

.check__left {
  background: rgb(242, 220, 170);
  color: black;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.check__left-item {
  padding-left: 20px;
}

.check__right {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  color: white;
  background: rgb(241, 172, 9);
}

.check__right-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.getting_started {
  /* margin-top: 20px; */
  border-radius: 10px;
  width: 350px;

  background: #fff8e1;
}

.getting_started > article {
  padding: 10px;
}

.getting_started #text-one {
  color: var(--greys-tertiary, #4b6358);
  font-family: "Cerebri Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  width: 260px;
}

.getting_started-item,
.getting_started-item-two {
  gap: 10px;
  padding: 10px;
}

.first-item {
  display: flex;
  justify-content: space-between;
}

.second-item {
  display: flex;
  justify-content: space-between;
}

.getting_started-item a {
  color: #03a84e;
}

.btn-link {
  width: 279px;
  height: 25px;
  top: 604px;
  left: 48px;
  padding: 12px 16px 12px 16px;
  border-radius: 32px;
  gap: 8px;
  background: #03a84e;
  color: #fff;
  text-decoration: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto auto 15px;
}
/* .btn-link {
  color: #fff;
  text-decoration: none;
} */

footer {
  margin-top: 30px;
  margin-bottom: 20px;
  display: flex;

  gap: 1rem;
}
.dark-line {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  width: 150px;
  height: 5px;
  border-radius: 10px;
  margin: auto auto 20px;
}
 /* end of index css  */




/* sample-two css  */


.multi-form{
  margin: 1.5rem 0;
  display: grid;
  grid-template-columns: 90px 100px 100px 80px;
  place-items: center;
  position: relative;
}

.counter {
  position: absolute;
  height: 5px;
  width: 96%;
  background-color: #E2E9E6;
  ;
  top: 0;
  transform: translate(5px, 18px);
}

.multi-form_main {
  padding: 5px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.multi-form_text {
  display: block;
  margin-top: 5px;
}

.hide {
  opacity: 0;
}

.one {
  align-items: flex-start;
}

.four {
  align-items: flex-end;
}

.multi-form_btn {
  border-radius: 50%;
  border: none;
  height: 30px;
  width: 30px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  background-color:#E2E9E6;
  ;
}


.header-section {
  border-radius: 10px;
  margin-left: 1.5rem;
 
}

.header-section .title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 5px;
  text-align: left;
  color:  #0F241B;
  
}

.header-section .text {
  font-size: 1rem;
  text-align: left;
  color: #4B6358;
  ;
}

.main {
  display: grid;
  /* border: 1px solid; */
  padding: 0.5rem 0;
  grid-gap: 2rem;
}
.countryInput {
  width: 300px;
  height: 30px;
  border-radius: 5px;
  justify-content: center;
  margin: auto auto auto 20px;
  padding: 1rem 0.5rem;
  display: flex;
  align-items: center;
}
 .phaseone{
  border: 1px solid  #03A84E;
  background-color: #FAFFFC;
}
.phasetwo{
  border: 1px solid #E2E9E6;
}

.countryFigure {
  height: 30px;
  width: 30px;
}
.countryFigure img {
  height: 100%;
  width: 100%;
}

.country_name {
  height: 100%;
  margin-left: 10px;
  width: 60%;
  display: flex;
  align-items: center;
}

.tick {
  display: block;
  height: 20px;
  margin-left: auto;
}

.tick img {
  height: 20px;
}

.state_main,
.state_country_main {
  border-bottom: 1px solid black;
  display: flex;
}

.state_title,
.state_country_title {
  font-size: 14px;
  font-weight: 400;
  margin-left: 20px;
  color: #4B6358;
}

.state_country_main::after, .state_main::after {
  content: url("./assets/down-svgrepo-com.svg");
  display: block;
  margin-right: 0.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  border: none;
}
.state_country_select, .state_select {
  width: 100%;
  padding: 0.5rem 1px;
  appearance: none;
  outline: none;
  border: none;
}

.state__country_option, .state__option {
  padding: 1rem;
}

.emptytick {
  border: 1px solid gray;
  display: block;
  height: 20px;
  width: 20px;
  margin-left: auto;
  border-radius: 50%;
}

.location {
  margin-bottom: 2rem;
}

.location_link {
  border-bottom: 1px solid;
}

.location_link a {
  padding-bottom: 2px;
  text-decoration: none;
}

.next_btn {
  border: 1px solid;
  padding: 1rem 0;
  width: 100%;
  border-radius: 7px;
  background-color: rgb(42, 193, 42);
  color: white;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 600px;
    margin: 0 auto;
  }
}

