html {
    background: #000;
  }
  
  body {
    color: white;
  
    /* height: 100vh; */
    box-sizing: border-box;
    /* overflow: hidden; */
    padding: 0;
    margin: 0;
  }
 
  .main {
    background: white;
    color: black;
    width: 100vw;
    max-width: 25rem;
    margin: 0 auto;
  }
  .container {
    /* margin: 0.5rem; */
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
  }
  .box {
    width: 95%;
  }
  .profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
  
    width: 95%;
    gap: 8px;
  }
  .profile p{
    font-weight: bold;
  }
  .profile-icon{
    padding: 8px;
    border-radius: 50px;
  }
  .schedule {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .schedule > button {
    padding: 10px 20px;
    border-radius: 20px;
    outline: none;
    box-shadow: none;
    border: 2px solid rgb(152, 89, 13);
    color: rgb(152, 89, 13);
  }
  .discount {
    display: grid;
    grid-template-columns: 250px 120px;
  }
  .discount__discription {
    background: rgb(188, 240, 188);
    color: black;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  .discount__discription-item {
    padding-left: 20px;
  }
  .discount__price-item > span {
    text-decoration: line-through;
  }
  .discount__price {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: white;
    background: green;
  }
  .discount__price-item {
    padding-left: 20px;
  }
  .check {
    display: grid;
    grid-template-columns: 250px 120px;
  }
  .check__left {
    background: rgb(242, 220, 170);
    color: black;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  .check__left-item {
    padding-left: 20px;
  }
  .check__right {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: white;
    background: rgb(241, 172, 9);
  }
  .check__right-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
  }
  .getting_started {
    /* margin-top: 20px; */
    border-radius: 10px;
    width: 350px;
  
    background: #FFF8E1;
  }
  .getting_started > article {
    padding: 10px;
  }
  .getting_started #text-one{
    color: #4B6358;
    font-weight: normal;
    font-family: Cerebri Sans;
    

  }
  .getting_started-item {
    gap: 10px;
    padding: 10px;
  }
  .first-item{
    display: flex;
    justify-content: space-between;
  }
  .second-item{
    display: flex;
    justify-content: space-between;
  }
  .getting_started-item a{
    color: #03A84E;
  }
  .getting__started-itemIcon {
    width: 40px;
    height: 40px;
    background: rgb(195, 178, 216);
    border-radius: 40px;
  }
  .getting__started-itemIcon-doit {
    text-decoration: underline;
  }
  .getting__started-itemIcon1 {
    width: 40px;
    height: 40px;
    background: rgb(232, 162, 173);
    border-radius: 40px;
  }
  .getting__started-itemIcon1-play {
    text-decoration: underline;
  }
  .tomorrow h3 {
    color: rgb(0, 206, 58);
  }
  
  .tomorrow-item {
    display: grid;
    grid-template-columns: 130px 250px;
  }
  .tomorrow-item > div:first-child {
    padding: 8px;
    border-radius: 10px;
    text-align: center;
  }
  .tomorrow-item > div:last-child {
    background: rgb(187, 210, 220);
    padding: 8px;
    border-radius: 10px;
  }
  
  footer {
    display: flex;
    gap: 2rem;
  }
  